page-all-feed {
    img.card-pic {
        
        width: 120px;       
        margin: 20px auto 0;        
    }
    .card-title {
        font-size: 16px;
        font-weight: 500;
    }
    .social {
        width:35px; 
        float: right; 
        padding: 5px;
    }
}
