<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{productDetails.product_name}} </ion-title>
    <ion-buttons end class="position-rel">
              <div class="cart-amnt">{{noofcart}}</div>
              <button ion-button icon-only (click)="goToCartPage()">
                <ion-icon name="cart"></ion-icon>
              </button>
            </ion-buttons>     
  </ion-navbar>
</ion-header>


<div class="rating-part" *ngIf ="isShow ==1">
    <ion-card class="rating-area" >
      <h4>Give Your Rating</h4>
       <rating [(ngModel)]="rate"
        readOnly="false" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false"> 
  </rating>


  <ion-row>
    <ion-col col-6>
      <button ion-button block  class="submitbtn" (click)="submit()">Submit</button>
    </ion-col>
    <ion-col col-6>
        <button ion-button  block  class="red-btn" (click)='hide()'>Cancel</button>     
      </ion-col>
  </ion-row>
  </ion-card>
</div>



<div class="list-part" *ngIf ="showList ==1">
  <ion-card class="list-area" *ngIf ="userlikelist!=''">
  <div class="like">  
      <div class="close"> 
        <ion-icon name="close" md="md-close" (click)='hidelist()'></ion-icon>
      </div>
      <h3><b>Who likes this product</b></h3>
  </div>
            
    <ion-item class="link-btn" *ngFor="let item of userlikelist,let i=index of userlikelist">    
      <ion-thumbnail item-start *ngIf="!item.User.UserImage[0].originalpath" (click)="userprofile(item.User.id)">
          <img src="assets/img/noimage.png">
        </ion-thumbnail>
        <ion-thumbnail item-start *ngIf="item.User.UserImage[0].originalpath" (click)="userprofile(item.User.id)">
          <img src="{{userimagepath+item.User.UserImage[0].originalpath}}">
        </ion-thumbnail>
      <h2 (click)="userprofile(item.User.id)">{{item.User.first_name}}</h2>
       
      <button ion-button class="follow-btn" (click)='follow(item.User.id,i)' *ngIf="item.User.is_follow==0">Follow</button>
      <button ion-button class="follow-btn" (click)='follow(item.User.id,i)' *ngIf="item.User.is_follow==1">Following</button>
    </ion-item>
</ion-card>


<ion-card class="list-area-no-like" *ngIf ="userlikelist==''">
  <h2>
    No one like this product till now
  </h2>
  <button ion-button  class="ok-btn" (click)='hidelist()'>Ok</button>
</ion-card>

</div>


<ion-content>

  <ion-content>
    <ion-list>  
      <ion-card class="main-card" *ngIf="detailfound==1">
        <div class="card-pic-ban" style="-webkit-overflow-scrolling:touch; overflow:auto;">
            <ion-slides #slides pager > 
              <ion-slide  *ngIf="productDetails.video" scroll="true"  class="iframe-wrapper" >
               
            <iframe [src]="videoUrl" data-tap-disabled="false" frameborder="0" allow="autoplay; encrypted-media" ></iframe>                 
              </ion-slide>
                <ion-slide *ngFor="let image of productimages">
                   <img *ngIf="productimages.length != 0" src="{{imageurl+image.originalpath}}" alt="">                   
                  <img  *ngIf="productimages.length == 0" src="assets/img/noimage.png"alt="">                          
                  </ion-slide>                
              </ion-slides>
              <button type="submit"  ion-button  color="primary" class="btnPrev" (click)='prev()'> <ion-icon name="ios-arrow-back"></ion-icon></button>            
              <button  ion-button color="primary"  class="btnNext" (click)='next()'><ion-icon name="ios-arrow-forward"></ion-icon></button>
        </div>
       
        
        <ion-card-content>
          <ion-row>
            <ion-col col-7> 
              <ion-card-title class="ban-title"  [innerHTML]="productDetails.product_name"> 
              </ion-card-title>                                       
                  <span class="star-area" *ngIf="israting==0">
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                    <ion-icon name="ios-star-outline"></ion-icon>
                  </span>

              <span class="star-area" *ngIf="israting==1">
                  <ion-icon *ngIf="starrating>=1" name="star"></ion-icon>
                  <ion-icon *ngIf="starrating>=2" name="star"></ion-icon>
                  <ion-icon *ngIf="starrating>=3" name="star"></ion-icon>
                  <ion-icon *ngIf="starrating>=4" name="star"></ion-icon>
                  <ion-icon *ngIf="starrating>=5" name="star"></ion-icon>
                  <ion-icon *ngIf="starrating%1!=0" name="star-half"></ion-icon>
                  <ion-icon *ngIf="starrating==0" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="starrating<=1" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="starrating<=2" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="starrating<=3" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="starrating<=4" name="star-outline"></ion-icon>
            </span>

              <span *ngIf="israting==1" style="font-size: 1.3rem;" class="rate">({{starrating | number:'1.2-2'}})</span>
              <span *ngIf="israting==0" style="font-size: 1.3rem;"  class="rate">({{starrating | number:'1.2-2'}})</span>
            

              <button ion-button class="rating-btn" *ngIf="starrating==''" (click)="show(productDetails.id)" > Add Rating </button>
              <!-- <button ion-button class="rating-btn"  *ngIf="starrating!=''"  (click)="show(productDetails.id)" > Add Rating </button> -->
              <p class="price-b"  *ngIf="productDetails.price!=0">${{productDetails.price}}</p>
              <p class="price-b" *ngIf="productDetails.price==0">TBD</p>
            </ion-col>
            <ion-col col-5>
              <div class="like-total-b">
                <div class="like-area">
                  <button ion-button (click)="addLikelLst(productDetails.id)">
                    <img *ngIf="!like" src="assets/img/thumb.png" alt="">
                    <img *ngIf="like" src="assets/img/thumb-b.png" alt="">
                    <span class="like-nmbr">({{likeCount}})</span>
                    
                  </button>
                  <h3 (click)="showlist(productDetails.id)">Like</h3>
                </div>
                <div class="like-area">
                  <button ion-button  (click)="addWishList(productDetails.id)">
                    <img *ngIf="!heart" src="assets/img/heart.png" alt="">
                    <img *ngIf="heart" src="assets/img/heart-b.png" alt="">
                    <span class="like-nmbr">({{wishlistcount}})</span>
                  </button>
                  <h3>WishList</h3>
                </div>
              </div>
              <div class="social-area">

                <img (click)="facebookShare(imageurl+productimages[0].originalpath,productDetails.fb_link)" src="assets/img/fb-icon.png" alt="">
                <img (click)="twitterShare(imageurl+productimages[0].originalpath,productDetails.twitter_link)" src="assets/img/twtr-icon.png" alt="">
                <img (click)="openWithInAppBrowser(productDetails.printerest_link,(imageurl+productimages[0].originalpath))" src="assets/img/pint-icon.png" alt="">
              </div>

            </ion-col>
          </ion-row>
          <h2 class="pro-des-tittle">Product Description:</h2>
          <p class="pro-des" [innerHTML]="productDetails.product_description"></p>
          <div class="group">
          <button ion-button class="btncolor" (click)="addtoCart(productDetails.id)">Add to cart</button>        
          <button ion-button class="rating-btn" (click)="feed(productDetails.id)">Social</button>
        </div>
        </ion-card-content>      
      </ion-card>

     
        <ion-list-header class="item item-ios list-header list-header-ios" >
          People also like this
        </ion-list-header>
  
      <div class="new-arrival" *ngIf="prolikeList!=''">
        <ion-card *ngFor="let pro of prolikeList;index as i" class="main-area2">
          <img class="card-pic" (click)="gotoDetails(pro.id)" src="{{pro.ProductImage}}">
          <ion-card-content>
            <ion-row>
              <ion-col class="pl-0 pr-0">
                <ion-card-title>
                 {{pro.product_name}}
                </ion-card-title>
                <div class="star-area">
                  <ion-icon *ngIf="pro.rating>=1" name="star"></ion-icon>
                  <ion-icon *ngIf="pro.rating>=2" name="star"></ion-icon>
                  <ion-icon *ngIf="pro.rating>=3" name="star"></ion-icon>
                  <ion-icon *ngIf="pro.rating>=4" name="star"></ion-icon>
                  <ion-icon *ngIf="pro.rating>=5" name="star"></ion-icon>
                  <ion-icon *ngIf="pro.rating%1!=0" name="star-half"></ion-icon>  
                  <ion-icon *ngIf="pro.rating==0" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="pro.rating<=1" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="pro.rating<=2" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="pro.rating<=3" name="star-outline"></ion-icon>
                  <ion-icon *ngIf="pro.rating<=4" name="star-outline"></ion-icon>
                
                <span class="rate">({{pro.rating| number:'1.2-2'}})</span>
                </div>

                <p class="price"  *ngIf="pro.price!=0">${{pro.price}}</p>
              <p class="price" *ngIf="pro.price==0">TBD</p>
              
              <div class="social-area">

                <img (click)="facebookShare(pro.ProductImage,pro.fb_link)" src="assets/img/fb-icon.png" alt="">
                <img (click)="twitterShare(pro.ProductImage,pro.twitter_link)" src="assets/img/twtr-icon.png" alt="">
                <img (click)="openWithInAppBrowser(pro.printerest_link,pro.ProductImage)" src="assets/img/pint-icon.png" alt="">
              </div>

              </ion-col>
              <ion-col class="pl-0 pr-0">
                <div class="like-total">
                  <div class="like-area">
                    <button ion-button (click)="peopleaddLikelLst(pro.id, i)">
                      <img *ngIf="pro.like == 0" src="assets/img/thumb.png" alt="">
                      <img *ngIf="pro.like == 1" src="assets/img/thumb-b.png" alt="">
                      <span class="like-nmbr">({{pro.total_like}})</span>
                    </button>
                    <h3>Like</h3>
                  </div>
                  <div class="like-area">
                    <button ion-button (click)="peopleaddWishList(pro.id, i)">
                      <img *ngIf="pro.wishlist == 0" src="assets/img/heart.png" alt="">
                      <img *ngIf="pro.wishlist == 1" src="assets/img/heart-b.png" alt="">
                      <span class="like-nmbr">({{pro.total_wishlist}})</span>
                    </button>
                    <h3>WishList</h3>
                  </div>
                </div>               
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>  
      </div>

      <div *ngIf="prolikeList==''">
        <div style="padding-bottom: 67px;" class="new-arrival">No Result Found</div>
        </div> 
    </ion-list>   
  </ion-content>

</ion-content>
